.container {
	-fx-background-color: black;
	-fx-font-family: Roboto;	
}

.titulo{
	-fx-text-fill: #48b2ee;
	-fx-font-size: 36px;
}

.numero{
	-fx-text-fill: white;
	-fx-font-size: 28px;
}

.btn{
	-fx-background-color: white;
	-fx-text-fill: #48b2ee;	/*cor txt  */
	-fx-font-size: 28px;
	-fx-min-whidth: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px; /* border-radius */
}

.corVerde{
	-fx-text-fill: #4bdb82;
}

.corVermelha{
	-fx-text-fill: #ee4139;
}